#topbar {
  background: Purple;  
  text-decoration: none;
}

#backtotop {
   background: OrangeRed;
   text-decoration: none
}

#backtotop a:hover,
#backtotop a:visited:hover {
   background: Purple;
    text-decoration: none
}
/*
#content a {color: Purple}
#content a: link {color: Purple}
#content a:hover, a:visited:hover { color: Limegreen;}

a {color: Purple}
a: link {color: Purple}
a:hover, a:visited:hover { color: Limegreen;}*/

.top-three {
  margin-top: 3cm;
}


