#topbar {
  top: 0;
  min-height: 2.2em;
  line-height: 2.2em;
  background: Gray;
    text-decoration: none;
      margin: auto;
      text-align: center;
}

.navbox {
  float: left;
  width: 16.6%;
  max-width: 30em;
  background: inherit;
    text-decoration: none;
}
.navbox a,
.navbox a:visited {
  display: block;
  padding-left: 1em;
  color: White;
  font-size: 90%;
    text-decoration: none;
}
.navbox a:hover,
.navbox a:visited:hover {
  background: White;
  color: Black;
  text-decoration: none;
}

.top-three {
  margin-top: 3cm;
}
#backtotop {
   position: fixed;
   right: 0;
   bottom: 0;
   z-index: 1;
   background: red;
   display: block;
   text-align: center;
   font-size: 150%;
   text-decoration: none;
}
#backtotop a,
#backtotop a:visited {
   padding-left: 1em;
   padding-right: 1em;
   padding-top: 0.25em;
   padding-bottom: 0.25em;
   display: block;
   color: White;
    text-decoration: none;
}

/*.content {
  margin-left: 1em;
  margin-right: 1em;
  max-width: 50px;/*60em;
  margin: auto;

}*/
/*.content a { color: DarkOrange; }
.content a:link, { color: Purple; text-decoration: none; }
.content a:visited { color: Gray; text-decoration: none; }
.content a:hover, a:visited:hover { color: Purple;text-decoration: none; }
*/

h0 {
  font-weight: normal;
  font-size: 140%;
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-weight: normal;
  font-size: 140%;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 1em;
}

h2 {
  font-style: italic;
  font-weight: normal;
  font-size: 100%;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}
a:link {
      text-decoration: none;
}

body { 
  margin: 0;
  line-height: 1.4;
  font-family: Helvetica,Arial,"Liberation Sans",sans-serif;
}

table, th, td {
    border: None;
    padding:  10px;
    /*border-collapse: collapse;*/
}
table#billiards{
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    border-collapse: collapse;
    padding:  0;
    vertical-align:   middle  ;
    table-layout:   fixed;
}
td, th {
    padding: 0;
}

blockquote {
    margin-top: -1em;
}

table#albums 
{
    border-collapse:separate;
    border-spacing:0 30px;
}

/*.img{position:absolute;z-index:1;}*/

.box {
/*width: 100px;
height: 100px;*/
padding: 10px;
border: 3px solid gray;
background-color: #DCDCDC;
}

#canvas{
    margin: 0;
    padding: 0;
    /*display: block;*/
}

/*#container{
    display:inline-block;
    max-width:100%; 
    height:auto;
    /*margin: 0 auto; 
    position:relative;}*/
.container {
    display: flex;
    align-items: bottom;
}
.container hr {
    width: 100%;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #000000;
}

.image2 {
  position: absolute;
  top: 0px;
  left: 300px;
  border: 1px solid #000000;
}