---
layout: default
---
<img src="img/matta_mashup.jpg" style="max-width:100%;height:auto;" align="middle">

<div id="billiards">
<h1 id="publications">Publications</h1>
</div>
<div>
    <br>
    <br>
    <br>
Also see my <a href="https://scholar.google.de/citations?user=-EHSwJ4AAAAJ&hl=en&oi=ao">google scholar profile</a>.
</div>
<div class="pub-list">
{% for pub in site.data.publications %}
<article class="pub-card{% unless pub.image and pub.image != "" %} pub-card--no-image{% endunless %}">
    {% if pub.image and pub.image != "" %}<img src="{{ pub.image }}" alt="" loading="lazy">{% endif %}
    <div>
        <h2>{{ pub.title }}</h2>
        <p class="pub-meta">{% if pub.author and pub.author != "" %}{{ pub.author }}{% endif %}{% if pub.journal and pub.journal != "" %} · <em>{{ pub.journal }}</em>{% endif %} ({{ pub.year }})</p>
        <p class="pub-links">{% for l in pub.links %}<a href="{{ l.url }}">{{ l.label }}</a>{% unless forloop.last %} · {% endunless %}{% endfor %}</p>
    </div>
</article>
{% endfor %}
</div>
