<!DOCTYPE html>

<html lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <base href="https://mptouzel.github.io"> -->
<base href="">
<meta name="keywords" content="Maximilian Puelma Touzel">
<meta name="pagetitle" content="Maximilian Puelma Touzel - Mila, Canada">
<meta name="description" content="{{ site.description }}">
<link rel="icon" href="favicon.svg" type="image/svg+xml">

<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title | default: "Maximilian Puelma Touzel" }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ site.url }}/img/08.jpg">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page.title | default: "Maximilian Puelma Touzel" }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.url }}/img/08.jpg">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Inter:wght@400;600&display=swap" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="site.standard.publication" href="at://did:plc:54ehcijq3tcvfhvzavg2aqdx/site.standard.publication/3mlthqqntx223">
<!-- <link href="css/css5.css" rel="stylesheet" type="text/css"> -->

{% if page.extra_style %}<style>
{{ page.extra_style }}</style>{% endif %}

<title>{{ page.title | default: "Maximilian Puelma Touzel" }}</title>

</head>

<body>
<div class="content">

{% include nav.html %}

{{ content }}

</div>
<div style="display: flex; justify-content: center;">
<img src="graphic.jpg" style="width:240px;height:60px;" alt="Site motif: gear, brain, neural network, and globe icons">
</div>

<script src="utils.js"></script>
<script src="ball.js"></script>
<script src="canvas-init.js"></script>

</body>
</html>
